<div style="box-sizing: border-box ; width: 100% ; background: #e4e4e4 ; padding: 2px"><%= name %></div>
<table style="width: 100% ; font-size: 1em" cellpadding="2" cellspacing="0">
  <tbody>
    <% fields.forEach(field => { %>
    <tr>
      <td><%= field.name %></td>
      <td style="text-align: right"><%= field.type %></td>
    </tr>
    <% }); %>
  </tbody>
</table>